Flask==2.3.3
python-dotenv==1.0.1
gunicorn==22.0.0
markdown
pypdf
tiktoken
chromadb==0.4.24
langchain==0.3.0
langchain-core==0.3.62
langchain-community==0.3.0
langchain-google-genai==2.0.1
google-generativeai==0.8.0
langsmith==0.1.147